/*
Name: Michael Ofoegbu
  Date created: 02/27/2026
  Date last edited: 02/27/2026
  Purpose: MIS 3371 Homework 1 CSS Form
*/

header {
  background-color: red;
}
header table {
  background-color: inherit;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
