/*
Name: Michael Ofoegbu
  Date created: 02/27/2026
  Date last edited: 02/27/2026
  Purpose: MIS 3371 Homework 1 CSS Form
*/

header {
    width: 100%;
    background-color: red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0;
    height: 100%;
    min-height: 100vh; /*to ake sure page is the  height of the viewport*/
}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: "Copperplate", fantasy;
    font-weight: normal;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: "Copperplate", fantasy;
    font-weight: normal;
    flex-grow: 1;
}

.image {
    text-align: left;
}

.td1 {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

th {
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: bold;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: grey;
    height: 2.5 rem;
}

#footer {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

input {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

p {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}
